<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'css/logo.jpg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
    <header>
        <nav class="navigation">
        <a href="/main">Home Page</a> 
        <a href="{% url 'logout' %}">Logout</a> 
        </nav>
        <img src="{% static 'css/logo.jpg' %}" alt="Logo" class="logo1"> 
    </header>

    

<h1>q</h1>
{% if purchase %}
<div class="purchase">                             
    <h1>Are you sure you want {{ purchase.product_name }}?</h1>
    <h2>You ordered {{ purchase.num_product }}</h2>
    <h2>The price is {{ purchase.price }}</h2>
    <h2>The total charge is {{ purchase.total }}</h2>
    <form action="{% url 'order' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="cardbutton2">Yes</button>
    </form>
    <a href="/main" class="cardbutton2">No</a>
</div>
{% else %}
<h1>No purchase details available.</h1>
{% endif %}
   
</body>
</html>