<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'css/logo.jpg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
    <header>
        <nav class="navigation">
        <a href="/main">Home Page</a> 
        <a href="{% url 'logout' %}">Logout</a> 
        </nav>
        <img src="{% static 'css/logo.jpg' %}" alt="Logo" class="logo1"> 
    </header>

    

<h1>q</h1>
    <div class="purchase">                             
        <form action="{% url 'purchase' %}">
            <h1>Are you sure you want {{product_name}}</h1>
            <h2>You orderd {{num_product}} </h2>
            <h2>the price is {{price}}</h2>
            <h2>the total charge is {{total}}</h2>
            <button class="cardbutton2">Yes</button>
        </form> <br> 
        <a href="/main"><input class="cardbutton2" type="submit" value="No"></a>
    </div>
   
</body>
</html>