<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


    <title>Stationery</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'css/logo.jpg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
 <nav class="navigation">
 <a href="/main">Home Page</a> 
 <a href="{% url 'logout' %}">Logout</a> 
</nav>
<img src="{% static 'css/logo.jpg' %}" alt="Logo" class="logo1"> 
</header>

<div class="content">

<div class="card">
  <img class="card-img-top" src="{% static 'css/file box.jpg' %}" alt="toy" >
  <h1>file box</h1>
  <p class="price">$19.99</p>
  <p><a href="/purchase"><button>Add to Cart</button></a></p>
</div>



<div class="card">
  <img class="card-img-top" src="{% static 'css/notebooks.jpg' %}" alt="toy" >
  <h1>notebooks</h1>
  <p class="price">$19.99</p>
  <p><a href="/purchase"><button>Add to Cart</button></a></p>
</div>



<div class="card">
  <img class="card-img-top" src="{% static 'css/file.jpg' %}" alt="toy" >
  <h1>file</h1>
  <p class="price">$19.99</p>
  <p><a href="/purchase"><button>Add to Cart</button></a></p>
</div>





<div class="card">
  <img class="card-img-top" src="{% static 'css/pen.jpg' %}" alt="toy" >
  <h1>pens</h1>
  <p class="price">$19.99</p>
  <p><a href="/purchase"><button>Add to Cart</button></a></p>
</div>


<div class="card">
  <img class="card-img-top" src="{% static 'css/pen2.jpg' %}" alt="toy" >
  <h1>pen</h1>
  <p class="price">$19.99</p>
  <p><a href="/purchase"><button>Add to Cart</button></a></p>
</div>


<div class="card">
  <img class="card-img-top" src="{% static 'css/rubber.jpg' %}" alt="toy" >
  <h1>rubber</h1>
  <p class="price">$19.99</p>
  <p><a href="/purchase"><button>Add to Cart</button></a></p>
</div>


<div class="card">
  <img class="card-img-top" src="{% static 'css/scissors.jpg' %}" alt="toy" >
  <h1>scissors</h1>
  <p class="price">$19.99</p>
  <p><a href="/purchase"><button>Add to Cart</button></a></p>
</div>

<div class="card">
  <img class="card-img-top" src="{% static 'css/pencils.jpg' %}" alt="toy">
  <h1>pencils</h1>
  <p class="price">$19.99</p>
  <p><a href="/purchase"><button>Add to Cart</button></a></p>
</div>

<div class="card">
  <img class="card-img-top" src="{% static 'css/pencil color.jpg' %}" alt="toy">
  <h1>pencil color</h1>
  <p class="price">$19.99</p>
  <p><a href="/purchase"><button>Add to Cart</button></a></p>
</div>



</div>


</body>
</html>