<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


    <title>Stationery</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'css/logo.jpg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>
<body>
<header>
 <nav class="navigation">
 <a href="/main">Home Page</a> 
 <a href="{% url 'logout' %}">Logout</a> 
</nav>
<img src="{% static 'css/logo.jpg' %}" alt="Logo" class="logo1"> 
</header>

<div class="content">



  {% for product in my_product %}
  <div class="card">
      <form action="{% url 'Stationery' %}" method="POST">
          {% csrf_token %}
          <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name_product }}">
          <h1>{{ product.name_product }}</h1>
          <input type="hidden" name="price" value="{{ product.price }}">
          <input type="hidden" name="product_name" value="{{ product.name_product }}">
          <input type="hidden" name="image_url" value="{{ product.image.url }}">
          <p class="price">${{ product.price }}</p>
          <input name="num_product" type="number" min="1" value="1"> <br><br>
          <button type="submit">Buy</button>
      </form>
  </div>
  {% endfor %}
  

</body>
</html>